body {
    background: #fff !important;
}

.zzc-demo-body {
  display: flex;
  flex-wrap: wrap;
 
    &>.zds-button {
      margin-bottom: .3rem;
      // width: 50%;
      flex: 0 1 48%;
      margin-right: 20px;
      
    }
}

.modal-text {
    font-size: .26rem;
    color: #333;
    padding: .3rem;
}